@font-face {
    font-family: myFont3;
    src: url(myFont3.ttf);
}
@font-face {
    font-family: myFont8;
    src: url(myFont8.ttf);
}
html,body
{
  scroll-behavior: smooth;
  margin: 0;
  width:100%;
  height: 100%;
  background-image: linear-gradient(90deg,#db99a3,#9b95ee);
}
.container{
  margin: 0 10px;
}
.first_page{
  width: 100%;
  height: 100%;
  background-image: url("../img/index/lamblovesfox_untitled.jpg");
  background-size: cover;
  background-position: center;
  z-index: 100;
}
header{
  margin: 1%;
  width: 98%;
  height: 6%;
  background-color: rgba(255, 255, 255, 0);
  position: fixed;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.sidenav a:hover {
    color: #f1f1f1;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.nav{

}
.menu_icon {
    position: absolute;
    left: 3%;
    top: 9px;
    display: inline-block;
    cursor: pointer;
    transition: margin-left .5s;
}
.menu_icon:hover{
  opacity: 0.5;
}
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}
.search{
  display: inline-block;
  margin-left: 10%;
  margin-top: 2px;
}
i{
  display: inline-block;
  opacity: 0.8;
  cursor: pointer;
  padding: 10px;
  transition: 0.5s;
}
i:hover{
  opacity: 0.4;

}
.search_form{
  display: inline-block;
  position: relative;
  left: 0;
  padding: 10px;
  visibility: hidden;
  opacity: 0.5;
  transition: 0.6s;
  color: #eee;
}
.search_form:hover{
  opacity: 0.7;
}
#search_key{
  opacity: 1;
  border-radius: 20px;
  height: 30px;
  width: 0;
  font-size: 15px;
  outline: none;
  padding: 0 20px;
  transition: width .5s;
  background-color: rgba(0, 0, 0, 0.3);
}
.logo{
  display: inline-block;
  position: absolute;
  left: 46%;
  top: 20px;
  font-size: 60px;
  font-family: myFont3;
}
.self{
  position: absolute;
  bottom: 10px;
  right: 0;
}
.cart{
  display: inline;
  height: 30px;
  width: 30px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  margin: 0 15px;
  opacity: 0.5;
  cursor: pointer;
}
.cart:hover{
  opacity: 0.9;
}
#count{
  display: block;
  margin:5px;
}
/*#dot{
  height: 0;
  width: 0;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
  padding: 20px;
  margin: 0 15px;
}*/

.login{
  display: inline;
  font-size: 25px;
  font-family: myFont8;
}
.signup{
  display: inline;
  font-size: 25px;
  font-family: myFont8;
}
#login{
  display: inline;
  margin: 5px 10px;
  color: #000;
  text-decoration: none;
}
#signup{
  display: inline;
  margin: 5px 30px;
  color: #000;
  text-decoration: none;

}
.circle{
  position: relative;
  top: -1px;
  margin: 0 auto;
}
.recommend{
  width: 100%;
  height: 200%;
  position: relative;
  top: 0;
  z-index: -1;
}
.recommend_container{
  width: 90%;
  height: 120%;
  margin: 2% 5%;
  background-color: rgba(0, 0, 0, 0);
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  padding: 10px;
}
.recommend_container > div {
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid black;
  text-align: center;
  font-size: 30px;
}
.footer{
  width: 100%;
  height: 20%;
  position: relative;
  top: 45%;
  background-color: #fff;
}
.footer_container1{
  width: 100%;
  height: 40%;
  background-color: #eee;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  padding: 10px;
}
.footer_container1 > div {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid black;
  text-align: center;
  font-size: 30px;
}
.footer_container2{
  width: 100%;
  height: 40%;
  background-color: #ddd;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  padding: 10px;
}
.footer_container2 > div {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid black;
  text-align: center;
  font-size: 30px;
}
