
{
  width:80%;
}


.form-control
{
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.search-bar
{
  width: 100%;
}
.search-box
{
  display:inline;
  width:60px;
  margin:0;
  height:30px;
  border:0;

}
.search-box:focus
{
  background: rgba(255, 255, 255, 0.3);
  border:0;
  width:300px;
  color:#fff;
}

.search-btn
{
  margin:0;
  display:inline;
  background-color: rgba(0, 0, 0, 0.3);
  border:0;
  height:30px;
  font-size:12px;
  font-family:'youyuan';
  color:#eee;
}
